body{
    background-image: url(/background.jpg);
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    color:white;
}

header{
    justify-content: space-between;
    display: -webkit-flex;
    padding-top: 20px;
}

.table_menu table tr td a{ 
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    padding-right: 70px;
}

.info_statistic{
    width: 300px; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px; 
    background-color: #1b59b68e;
    margin-left: 30px;
}

.container{
    width: 450px; 
    padding: 32px;
    border-radius: 10px; 
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px; 
    background-color: #1b59b6c7;
}

.card-header{
    font-size: 30px;
    text-align: center;
}

.list_group{
    background-color: #f3cbc963;
    width: 66%;
    padding: 10px;
    border-radius: 0px 0px 10px 10px ;
}

.list_elem{
    border-bottom: 2px solid #1b59b6;
}

.list_result{
    margin-top: 20px;
    border: 2px solid #ffffff;
    padding: 10px;

}

.form{
    width: 180px;
    text-align: center;
}

#map-view{
    margin-right: 100px;
}

#map-view2{
    margin-right: 50px;
}

.ya_map {
	font-family: arial;
	font-size: 12px;
	color: #454545;
}
 
#map {
	width: 650px;
	height: 450px;
}

.statistic_title{
    font-size:24px;
    text-align: center;
}

.window{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logo{
    padding-left: 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: regular;
    color: white;
}

#content{
    font-size: 15px;
}

.list{
    text-decoration: none;
    color:rgb(255, 253, 253);
    font-weight: lighter;
}

#btn_search{
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    letter-spacing: 1px;
    font-size: 16px;
    color :#fff ; 
    background: linear-gradient(to left, #ff7571, #1565C0,#ff7571);
    background-size: 200%;
    cursor: pointer; 
    margin-left: 38px;
    transition: 0.5s;
}

#btn_search:hover{
    background-position: right;
}

.form-control{
    width: 70%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent; 
    outline: none;
}

.form-control:focus {
    border-bottom: 1px solid #1a73a8;
}

.form-control::placeholder {color: #ffffffa2;}
