body{
    background-image: url(/Kursovaya/background.jpg);
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    color:white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 300px; 
    padding: 32px;
    border-radius: 10px; 
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px; 
    background-color: #1b59b68e;
}

.title { 
    text-align: center;
    margin: 0 0 32px 0; 
    font-weight: normal;
}

.signin {
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    letter-spacing: 1px;
    font-size: 16px;
    color :#fff ; 
    /* background-color: #4781ffd2;  */
    background: linear-gradient(to left, #ff7571, #1565C0,#ff7571);
    background-size: 200%;
    cursor: pointer; 
    margin-left: 12px;
    transition: 0.5s;
}

.signup {
    border: none; 
    border-radius: 5px; 
    letter-spacing: 1px;
    font-size: 10px;
    color :#fff ; 
    background-color: #4781ff94; 
    cursor: pointer; 
    height: 30px;
}


.form_in {
    position: relative; 
    margin-bottom: 32px;
}

#ModalForm{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 130;
    display: none;
}
#filter{
    background-color: #1a74a880;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}
.password, .login, .name, .lastname {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent; 
    outline: none;
}

.signin:hover, .signup:hover{
         /* background-color: rgb(255, 120, 58);  */
         background-position: right;
 }

 .login:focus, .password:focus, .name:focus, .lastname:focus {
    border-bottom: 1px solid #1a73a8;
}

.password::placeholder, .login::placeholder, .name::placeholder, .lastname::placeholder {color: #ffffffa2;}