html{
    width: 1326px;
}

body{
    background-image: url(/picture/background.jpg);
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    color:white;
}

header{
    justify-content: space-between;
    display: -webkit-flex;
    padding-top: 20px;
}

.table_menu table tr td a{ 
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    padding-right: 70px;
}

main{
    padding-top:50px;
}

.info_statistic1{
    width: 100px; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px; 
    background-color: #1b59b6b7;
}
.data{
    font-weight: lighter;
    padding-top: 15px;
}

.info_statistic2{
    width: 300px; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px; 
    background-color: #1b59b6d8;
    margin-left: 30px;
}

.container{
    width: 450px; 
    padding: 32px;
    border-radius: 10px; 
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px; 
    background-color: #1b59b6c7;
}

.container2{
    width: 450px; 
    padding: 32px;
    border-radius: 10px; 
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px; 
    background-color: #1b59b6c7;
    margin-right: 90px;
    margin-top: 50px;
}



.card-header{
    font-size: 30px;
    text-align: center;
}

.list_group{
    background-color: #f3cbc963;
    width: 66%;
    padding: 10px;
    border-radius: 0px 0px 10px 10px ;
}

.list_elem{
    border-bottom: 2px solid #1b59b6;
}

.list_result{
    margin-top: 20px;
    border: 2px solid #ffffff;
    padding: 10px;

}

.form_statistic{
    width: 180px;
    text-align: center;
}

#map-view{
    margin-right: 100px;
}

#map-view2{
    margin-right: 50px;
}

.ya_map {
	font-family: arial;
	font-size: 12px;
	color: #454545;
}
 
#map {
	width: 650px;
	height: 450px;
}

.statistic_title{
    font-size:24px;
    text-align: center;
}

.title_add{
    font-size:24px;
    text-align: center;
}

.window{
    display: flex;
    justify-content: center;

}

.logo{
    padding-left: 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: regular;
    color: white;
}

#content{
    font-size: 15px;
}

.list{
    text-decoration: none;
    color:rgb(255, 253, 253);
    font-weight: lighter;
}

#btn_search{
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    letter-spacing: 1px;
    font-size: 16px;
    color :#fff ; 
    background: linear-gradient(to left, #fe7701, #1565C0,#fe7701);
    background-size: 200%;
    cursor: pointer; 
    margin-left: 38px;
    transition: 0.5s;
}

#btn_search:hover{
    background-position: right;
}

.form-control{
    width: 70%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent; 
    outline: none;
}

.form-control:focus {
    border-bottom: 1px solid #1a73a8;
}

.form-control::placeholder {color: #ffffffa2;}

#select_district, #select_admarea, #select_noise{
    width: 315px;
    border: 10px;
    height: 30px;
    margin-top: 10px;
    color: white;
    background-color: #1565C0;
    border-color: white;
}

#btn_add {
    padding: 8px 16px;
    border: none; 
    border-radius: 5px; 
    letter-spacing: 1px;
    font-size: 16px;
    color :#fff ; 
    background: linear-gradient(to left, #ff7571, #1565C0,#ff7571);
    background-size: 200%;
    cursor: pointer; 
    margin-left: 12px;
    transition: 0.5s;
}

#btn_add:hover{
    background-position: right;
}

#modal_window{
    width: 400px;
    height:90px;
    padding: 20px;
    border:solid 2px #ffffff;
    background-color: #4d7abd;
    color: rgb(255, 255, 255);
    position:absolute; 
    left:430px; 
    top:200px;
    text-align: center;
    padding-top: 50px;
    border-radius: 10px;
    background-image: url(/picture/лапка_котика.gif);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

#modal_window2{
    width: 400px;
    height:90px;
    padding: 20px;
    border:solid 2px #ffffff;
    background-color: #4d7abd;
    color: rgb(255, 255, 255);
    position:absolute; 
    left:440px; 
    top:200px;
    text-align: center;
    padding-top: 50px;
    border-radius: 10px;
    background-image: url(/picture/лапка_котика.gif);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

#modal_about{
    width: 400px;
    height:330px;
    padding: 30px;
    border:solid 2px #ffffff;
    background-color: #4d7abd;
    color: rgb(255, 255, 255);
    position:absolute; 
    left:530px; 
    top:100px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-image: url(/picture/котик.gif);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.btn_modal, #btn_year{
    padding: 10px 20px;
    margin-top: 30px;
    border: none; 
    border-radius: 5px; 
    letter-spacing: 1px;
    font-size: 16px;
    color :#fff ; 
    background: linear-gradient(to left, #ff7571, #1565C0,#ff7571);
    background-size: 200%;
    cursor: pointer; 
    transition: 0.5s;
}

.btn_modal:hover, #btn_year:hover{
    background-position: right;
}