
html{
    width: 1326px;
}

body{
    background-image: url(/picture/background.jpg);
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    color:white;
}

input{
    color: #ffffff;
    z-index: 99;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header{
    justify-content: space-between;
    display: -webkit-flex;
    padding-top: 20px;
}

.table_menu table tr td a{ 
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    padding-right: 70px;
}

.logo{
    padding-left: 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: regular;
    color: white;
}


#modal_window{
    width: 400px;
    height:110px;
    padding: 20px;
    border:solid 2px #ffffff;
    background-color: #4d7abd;
    color: rgb(255, 255, 255);
    position:absolute; 
    left:430px; 
    top:200px;
    text-align: center;
    padding-top: 50px;
    border-radius: 10px;
}

#date{
    margin-bottom: 30px;
}

.form {
    width: 300px; 
    padding: 32px;
    border-radius: 10px; 
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px; 
    background-color: #1b59b68e;
    z-index: 100;
}

.title { 
    text-align: center;
    margin: 0 0 32px 0; 
    font-weight: normal;
}

.signin {
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    letter-spacing: 1px;
    font-size: 16px;
    color :#fff ; 
    background: linear-gradient(to left, #fe7701, #1565C0,#fe7701);
    background-size: 200%;
    cursor: pointer; 
    margin-left: 100px;
    transition: 0.5s;
}

.update_btn{
   
    text-decoration: none;
    border: none; 
    border-radius: 5px; 
    letter-spacing: 1px;
    font-size: 16px;
    color :#fff ; 
    background: linear-gradient(to left, #fe7701, #1565C0,#fe7701);
    cursor: pointer; 
    height: 30px;
    background-size: 200%;
    transition: 0.5s;
    cursor: pointer; 
    height: 40px;
    padding: 10px 20px;
}

.upd{
    margin-bottom: 20px;
}

.signup {
    border: none; 
    border-radius: 5px; 
    letter-spacing: 1px;
    font-size: 16px;
    color :#fff ; 
    background: linear-gradient(to left, #fe7701, #1565C0,#fe7701);
    cursor: pointer; 
    height: 30px;
    background-size: 200%;
    transition: 0.5s;
    cursor: pointer; 
    height: 40px;
    margin-left: 70px;
}


.form_in {
    position: relative; 
    margin-bottom: 32px;
}
#filter{
    background-color: #1a74a880;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}
.password, .login, .name, .email {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent; 
    outline: none;
}

.password_signin, .login_signin {
    width: 90%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent; 
    outline: none;
    margin-left: 30px;
}

.password-icon{
    position: absolute;
    height: 20px;
    margin-left: 2px;
}
.login-icon{
    position: absolute;
    height: 20px;

}

.signin:hover, .signup:hover, .update_btn:hover{
    background-position: right;
}

.login:focus, .password:focus, .name:focus, .email:focus {
border-bottom: 1px solid #1a73a8;
}

.password::placeholder, .login::placeholder, .name::placeholder, .email::placeholder {color: #ffffffa2;}

.password_signin:hover, .login_signin:hover{
         background-position: right;
 }

 .password_signin:focus, .login_signin:focus {
    border-bottom: 1px solid #1a73a8;
}

.password_signin::placeholder, .login_signin::placeholder {color: #ffffffa2;}
#modal_about{
    position: relative;

    z-index: 150;
    width: 400px;
    height:380px;
    padding: 30px;
    border:solid 2px #ffffff;
    background-color: #4d7abd;
    color: rgb(255, 255, 255);
    position:absolute; 
    left:430px; 
    top:100px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-image: url(/picture/котик.gif);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.btn_modal{
    padding: 10px 20px;
    margin-top: 2px;
    border: none; 
    border-radius: 5px; 
    letter-spacing: 1px;
    font-size: 16px;
    color :#fff ; 
    background: linear-gradient(to left, #fe7701, #1565C0,#fe7701);
    background-size: 200%;
    cursor: pointer; 
    transition: 0.5s;
    margin-top: 10px;
}

.btn_modal:hover{
    background-position: right;
}